<div class="cart" *ngIf="isCartNotEmpty(); else emptyCart">
  <div *ngFor="let item of cartItems" class="cart__item">
    <img src={{item.productImg.value.src}} class="cart__item--img" alt={{item.productImg.value.alt}}>
    <div class="cart__item__heading">
      <div>
        <h2 class="cart__item--name">{{ item.productName.value }}</h2>
        <img (click)="deleteItem(item.productId)" class="close-icon" src="data/media/img/close-icon.svg" />
      </div>
      <form>
        <h3 class="shopping-cart__item--price">${{ item.productPrice.value }}</h3>
        <input matInput type="number" min="1" id="amount" name="amount" [(ngModel)]="item.productCount.value"
          (ngModelChange)="updateCart(item.productId.value, item.productCount.value)">
      </form>
    </div>
  </div>
  <hr>
  <div>
    <p>Total cost:</p>
    <p>$ {{totalCost}}</p>
  </div>
  <button routerLink="/checkout">Checkout</button>
</div>
<ng-template #emptyCart>
  <p>Cart is empty!</p>
</ng-template>