<div class="product-details">
  <div class="product-details__book">
    <p *scText="rendering.fields.title" class="product-details__book-title"></p>
    <img *scImage="rendering.fields.image; attrs: srcSetImageAttributes" />
    <div class="product-details__book__heading">
      <p class="product_details__book-desc">descccc</p>
      <div class="product_details__book_amount">
        <label for="product">Amountt: </label>
        <input type="number" id="bookAmount" placeholder="0" />
      </div>
    </div>
  </div>
  <button class="product_details__addBtn" type="button">Add to Cart</button>
</div>