<mat-toolbar class="nav-bar">
    <div class="nav-bar__logo">
        <h3 routerLink="">{{ logoName }}</h3>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>

    </div>
    <div class="nav-bar__icons">
        <img *scImage="rendering.fields.imgCart; attrs: srcSetImageAttributes" class="nav-bar__icons__cart" routerLink="/cart" />
        <img *scImage="rendering.fields.imgBar; attrs: srcSetImageAttributes" class="nav-bar__icons__hamburger" />
    </div>
</mat-toolbar>