.dialog {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.dialog h1 {
    font-size: 20px;
    text-align: center;
}

.dialog button {
    background-color: #0c0cb4;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    padding: 10px;
    border: none;
}

.dialog img {
    width: 10px !important;
    float: right;
}