<div class="product-details">
  <div class="product-details__book">
    <div class="dialog" *ngIf="showDialog">
      <img (click)="closeDialog()" class="dialog__close-icon" src="data/media/img/close-icon.svg" />
      <button routerLink="/cart">Go To Cart</button>
      <button routerLink="/">Continue Shopping</button>
    </div>
    <div *scRichText="rendering.fields.title" class="product-details__book-title"></div>
    <img *scImage="rendering.fields.image; attrs: srcSetImageAttributes" class="product-details__book-img" />
    <div class="product-details__book__heading">
      <p *scRichText="rendering.fields.description" class="product_details__book-description"></p>
      <div class="product_details__book-amount">
        <label for="amount">Amount: </label>
        <input type="number" min="1" max="10" id="amount" [(ngModel)]="rendering.fields.amount.value"/>
      </div>
    </div>
  </div>
  <button class="product_details__add-button" type="submit" (click)="addToCart(rendering.fields)">Add to Cart</button>
</div>